.field {
    border-color: black;
    font-size: 30px;
    margin-top: 56px;
    background-color: #4d4848;
    border-style: hidden;
    border-radius: 90px;
    text-align: center;
    width: 1000px;
}

.block {
    box-shadow: black;
    box-sizing: border-box;
    font-size: 32px;
    font-family: "Droid Sans Mono Dotted", sans-serif;
    line-height: 36px;
}
 body {
     background: radial-gradient(circle at center, #1d0544, black);
     background-size: auto;
     text-align: center;
     text-space: 100px;
     text-shadow:  2px 2px 2px black;
     color: #adadad;
 }

 .control {
     text-align: center;
 }

 .add {
     width: 32px;
     height: 32px;
     background-color: #a9ea6a;
     border-style: hidden;
     border-radius: 90px;
 }

 .remove {
     width: 32px;
     height: 32px;
     background-color: #99413b;
     border-style: hidden;
     border-radius: 90px;
 }
